*{
    text-align: center;
    font-family: Comic Sans MS;
    margin: 5 0 5;
}

html{
    background-image: url(img/background.webp);
}

h1{
    color: white;
    font-weight: 800;
}

ol{
    padding: 5px;
    list-style-position: inside;
}

li{
    margin-top: 5;
}

div{
    background-color: lightgoldenrodyellow;
    border: solid darkgoldenrod 5px;
    border-radius: 10px;
    padding: 50 5;
}